@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddService", "Service", FormMethod.Post))@* İlk alınan parametre actionın ismi ikinci parametre controller ismi FormMethodun türü*@
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description" style="color:white; font-size:40px;">Yeni Hizmet Ekleme Paneli</p>
                <form class="forms-sample">
                    <br />
                    <br />
                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <br />
                    @Html.Label("Resim Yolu")
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

