@using EntityLayer.Concrete
@model List<Contact>

<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    <div class="mt-3 px-1">
        <div class="h5">Sana Nasıl Yardımcı Olabilirim?</div>  
    </div>
    <div class="mt-53 px-1">
        <div class="row">
            @foreach (var item in Model)
            {
                <p>@item.Description</p>
                <div class="col-sm-2">
                    <div class="pb-1">E-Mail: </div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Mail</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Unvan: </div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Title</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Telefon: </div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Phone</div>
                </div>
            }
        </div>
    </div>
</div>